.App {
	margin: 30px;
	padding: 30px;
	background-color: whitesmoke;
	border-radius: 10px;
}

.App header {
	text-align: center;
	text-shadow: 2px 3px rgba(0, 0, 0, 0.2);
}

.App h1 {
	font-size: 60px;
}

.App footer {
	text-align: center;
}

.App a {
	color: black;
}

.App main {
	padding: 40px;
}
