.WordDisplay {
	margin-bottom: 30px;
	border-top: 5px double gray;
}

.WordDisplay .synonyms {
	display: inline;
	font-style: italic;
	opacity: 0.5;
	font-weight: bold;
}

.WordDisplay h2 {
	line-height: 1.5;
	margin: 30px;
	font-size: 40px;
}
